@using BlazorComponent.Components
@inherits CommentBase
<h3>Comment</h3>


<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Herkese açık bir yorum ekle..." @bind-value="commentText">
    <button class="btn btn-danger" type="button" @onclick="InsertComment">İnsert</button>
</div>
<hr />
@foreach (var comment in VideoComments)
{
        <div class="box-card shadow-sm p-1 mb-2 bg-body rounded" style="width:100%; box-shadow:2px; border-radius:15px">
            <div class="row">
                <div class="col-1">
                    <img src="https://yt3.ggpht.com/yti/ANoDKi79TvjAsPQYqQ3IsBJEYDvvA7Fx-6O5XENM4Q=s48-c-k-c0x00ffffff-no-rj" class="rounded-circle z-depth-2 comment-avatar" />
                </div>
                <div class="col-11">
                    <h4 class="comment-content">@comment</h4>
                </div>
            </div>
        </div>
}

