@page "/employees"
@using BlazorComponent.Components
@inherits EmployeeListBase
<h3>EmployeeList</h3>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>

    @foreach (var employee in Employees)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.Salary</td>
            <td><button class="btn btn-primary" @onclick="@(()=>EmployeeSelectionChanged(employee.Id))">Güncelle</button></td>
        </tr>
    }
</table>
@code {

}
